.c2me-logo {}
.c2me-logo--white {
  .st0 {
    fill: #3e3c3d;
  }
  .st1 {
    fill: #fff;
  }
  .st2 {
    fill: none;
    stroke: #3e3c3d;
    stroke-width: 9;
    stroke-miterlimit: 10;
  }
}
.c2me-logo--yellow-white {
  .st0 {
    fill: #fff;
  }
  .st1 {
    fill: #ffd93d;
  }
  .st2 {
    fill: none;
    stroke: #3e3c3d;
    stroke-width: 9;
    stroke-miterlimit: 10;
  }
}
.c2me-logo--yellow-black {
  .st0 {
    fill: #3e3c3d;
  }
  .st1 {
    fill: #ffd93d;
  }
  .st2 {
    fill: none;
    stroke: #3e3c3d;
    stroke-width: 9;
    stroke-miterlimit: 10;
  }
}
.c2me-logo--black {
  .st0 {
    fill: #3e3c3d;
  }
  .st1 {
    fill: #000;
  }
  .st2 {
    fill: none;
    stroke: #3e3c3d;
    stroke-width: 9;
    stroke-miterlimit: 10;
  }
}
