@import '~@cater2me/sass';

.c2me-btn {
  font-size: 14px;
  outline: none;

  &.btn-sm {
    font-size: 9px;
  }

  &.btn-square {
    border-radius: 0;
  }

  &.btn-round {
    border-radius: 2.5rem;
    &:focus {
      box-shadow: 0 1px 2px 0 color(background, gray-light-10);
    }
  }

  &.c2me-btn-disabled {
    background-color: color(background, gray-light-20);
    opacity: 0.8;
    color: #000;
    cursor: not-allowed;
  }

  // colors
  @each $color in (yellow, green, red, blue) {
    &.btn-#{$color} {

      @include themify {
        background-color: theme-color($color);

        &:hover,
        &:focus {
          background-color: lighten(theme-color($color), 8.2%);
        }

        &:active {
          background-color: darken(theme-color($color), 11.8%);
        }
      }
    }
  }

  &.btn-yellow.c2me-btn-shadow {
    box-shadow: 0 1px 2px 0 color(background, gray-light-10);
  }

  &.btn-green {
    color: #fff;
  }

  &.btn-blue {
    color: #fff;
  }

  &.btn-white {
    color: #283AF9;
    background-color: transparent;

    &:focus,
    &:hover {
      box-shadow: none;
    }

    &.c2me-btn-disabled {
      background-color: transparent;
      color: #283AF9;
    }
  }

  &.btn-transparent {
    background-color: transparent;
    box-shadow: 0 0 0 0.5px color(background, gray-light-10);
    color: #000;

    &:focus,
    &:hover {
      box-shadow: 0 0 1px 1px darken(color(background, main-yellow), 10%);
    }
  }
}
