.app{
  margin: 30px;
  text-align: center;
}
.example{
  margin-top: 10px;
  padding: 5px;
  border: solid #eee 1px;
  border-radius: 5px;
}

.example-code{
  white-space: pre-wrap;
  display: block;
}
